<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tum.in.i22.sentinel.android.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".file_explorer.FileChooser"
                  android:label="Choose a file">
            <!--TODO: Look the intent filter-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".file_explorer.DirectoryChooser"
                  android:label="Choose a directory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".playstore.PlayStoreDetail"
                  android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="fr.xgouchet.xmleditor.AxelActivity"/>

        <service android:name="de.tum.in.i22.uc.pdp.android.pdpService">
            <intent-filter>
                <action android:name="de.tum.in.i22.uc.pdp.android.pdpService"/>
            </intent-filter>
            <intent-filter>
                <action android:name="de.tum.in.i22.uc.pdp.android.setPolicy"/>
            </intent-filter>
        </service>

    </application>

</manifest>
